@import 'mvp.css';

:root {
	--color-text: #303030;
}

body {
	text-align: center;
	background: rgb(248, 248, 248);
}

header {
	padding: 0;
}

h1 {
	margin: 1em 0 0.5em;
}

h5 {
	margin: 0.5em;
}

section aside {
	text-align: left;
	width: calc(100% - 40px);
	max-width: 1000px;
	background: var(--color-bg);

	& h3 {
		margin: 0;
	}
}

table {
	width: 200px;
	font-size: 0.8em;

	& th,
	& td {
		text-align: center;
	}

	&.two-column {
		& th,
		& td {
			width: 100px;
		}
	}

	&.three-column {
		& th,
		& td {
			width: 66.666px;
		}
	}

	& thead th:first-child,
	& tr td:first-child {
		text-align: center;
	}

	& .swatch {
		display: inline-block;
		border: 1px solid black;
		width: 13px;
		height: 13px;
		vertical-align: middle;
	}
}

.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3em;
}


.multiplier {
	display: flex;
	width: 150px;
	height: 200px;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
}
