
@-webkit-keyframes loader-spin {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes loader-spin {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.graph-set {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	& .graph {
		display: flex;
		flex-direction: column;
		margin: 8px;

		& .graph-label {
			font-weight: bold;
			text-align: center;
			padding-bottom: 0.4em;
		}

		& .graph-content {
			display: flex;
			flex-grow: 1;

			& canvas,
			& img {
				display: block;
				width: 200px;
				height: 200px;
				border: 1px solid black;
			}
		}

		&.loading {
			& .graph-content {
				position: relative;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background: rgba(0, 0, 0, 0.5);
				}

				&::after {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					border-radius: 50%;
					width: 10em;
					height: 10em;
					font-size: 10px;
					text-indent: -9999em;
					border-top: 1.1em solid rgba(255, 255, 255, 0.2);
					border-right: 1.1em solid rgba(255, 255, 255, 0.2);
					border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
					border-left: 1.1em solid #fff;
					transform: translate(-50%, -50%);
					animation: loader-spin 1.5s infinite linear;
				}
			}
		}
	}

	&.selectable {
		& .graph {
			cursor: pointer;

			&.selected {
				& .graph-content {
					box-shadow: 0 0 0 3px red;
				}
			}
		}
	}
}
