
.image-picker {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	& .image {
		margin: 6px;
		cursor: pointer;
		border: 3px solid transparent;

		&.selected {
			border: 3px solid red;
		}

		& img {
			width: 150px;
			height: 150px;
			display: block;
		}

		& .upload {
			box-sizing: border-box;
			width: 150px;
			height: 150px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 3px dashed grey;
			cursor: pointer;
			margin: 0;

			& input {
				display: none;
			}
		}
	}
}
